# Environment Variables (Secrets)
.env

# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Logs
*.log
launcher-error.log
simple_ui.log

# Dagster & Project Data
dagster_home/
generated_sql/
backups/

# IDE settings
.vscode/
.idea/